.popup__close-btn-image {
  max-width: 32px;
  position: absolute;
  top: calc(-42px - 32px);
  right: calc(-330px - 72px - 32px);
}

@media screen and (max-width: 550px) {
  .popup__close-btn-image {
    max-width: 20px;
    top: calc(-41px - 20px);
    right: calc(-238px - 22px);
  }
}