.profile__add-button {
  padding: 12px 62px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background: none;
  max-height: 50px;
  max-width: 282px;
}

.profile__add-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 700px) {
  .profile__add-button {
    width: calc(100%);
  }
}


@media screen and (max-width: 340px) {
  .profile__add-button {
    padding: 15px 0;
  }
}